<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ejemplo sesiones</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="Favicon.ico" type="image/x-icon">
</head>
<body>
    {{#if nombre}}
    <nav>
        <span>{{nombre}} <a href="/logout">Logout</a></span>
    </nav>
    {{/if}}
    {{{body}}}
</body>
</html>