{{#if mensaje}}
<p class="mensaje mensaje-{{tipo}}">{{mensaje}}</p>
{{/if}}

<form action="/login" method="post">
    <label for="usuarix">Usuarix</label>
    <input type="text" name="usuarix" id="usuarix">
    
    <label for="password">Clave</label>
    <input type="password" name="password" id="password">

    <input type="submit" name="Login" id="login"></input>
    
    <a href="/registrarse">Registrarse</a>
</form>
